html {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing:inherit;}

body{
	margin: 0;
}
img {
	width:50%;
}

header{
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #e7001d;
}

h2{
	font-weight: bolder;
	margin: 0;
	padding: 1.5em;
	font-style: normal;
}
.Sheng{
	font-weight: bold;
}

.Banner{
	width:100%;
	margin: 0;
	padding: 0;}

p{
	margin: 0;
	padding: 1.5em;
}

.Dragon-Block {
	text-align: center;
	font color: white;
	background-color: #e4c22a;
	margin: 0;
	padding: 0;
	font-style: italic;
	}

.Dragon {
	float:right;}

.Dragon-Symbol {
	float:left;}

.Goat-Block {
	text-align: center;
	font color: white;
	background-color: black;
	color: white;
	font-style: italic;}

.Goat {
	float:left;}

.Goat-Symbol {
	float:right;}

.Rooster-Block{
	text-align: center;
	font color: white;
	background-color: #bc0017;
	color: white;
	font-style: italic;}

.Rooster-Symbol {
	float:left;}

.Rooster {
	float:right;}

.Ox-Block {
	text-align: center;
	font color: white;
	background-color: #e4c22a;
	font-style: italic;}

.Ox {
	float:left;}

.Ox-Symbol {
	float:right;}

footer{
	background: black;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;}